.Header-container {
    display: flex;
    justify-content: center;
    background: var(--green);
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.1);
}

.Header-container__image {
    margin: 1rem 2rem;
}

.Header-container__image:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
}

.Header-container__image img {
    width: 100%;
}