:root {
    --black: #383536;
    --background: #e5e6e5;
    --white: #ffffff;
    --green: #0D383D;
    --lightgreen: #8AE91F;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--background)
}